/* src/web/static/style.css */

/* Font */
@font-face {
    font-family: 'Modern Sans';
    src: local('Arial'), local('Helvetica'), local('Sans-serif');
    font-weight: 400;
}

/* Global Styles */
body, input, button, textarea, .back-arrow, .site-header h1 {
    font-family: 'Modern Sans', Arial, sans-serif;
    color: #333;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 1em;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

p {
    margin-bottom: 2em;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 1em;
}

textarea {
    height: 100px;
    resize: vertical;
}

.logo {
    max-width: 250px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.header-logo {
    max-width: 120px;
    height: auto;
    display: block;
}

.btn, input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 1em;
    border-radius: 14px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover, .btn:focus, input[type="submit"]:hover {
    background-color: #0056b3;
}

.btn:active {
    background-color: #003d82;
}

.centered-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
}

.site-header {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: auto;
}

.back-arrow {
    font-size: 1em;
    text-decoration: none;
    color: #007bff;
    margin-right: 20px;
}

.site-header h1 {
    font-size: 1.5em;
    margin: 0;
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 80px auto 0;
}

/* OAuth Button Styles */
.oauth-button {
    display: block;
    width: calc(100% - 20px);
    padding: 15px;
    margin: 10px auto;
    border: 2px solid #007bff;
    border-radius: 14px;
    background-color: #fff;
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}

.oauth-button svg {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: auto;
}

.oauth-button:hover, .oauth-button:focus {
    background-color: #007bff;
    color: #fff;
    border-color: #0056b3;
}

.oauth-button.google {
    --oauth-icon-url: url('/static/images/providers/google.svg');
}

.oauth-button.github {
    --oauth-icon-url: url('/static/images/providers/github.svg');
}

.oauth-button.discord {
    --oauth-icon-url: url('/static/images/providers/discord.svg');
}

.oauth-button::before {
    content: '';
    display: inline-block;
    background-image: var(--oauth-icon-url);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

/* Toggle Button */
.toggle-btn {
    background-color: #f7f7f7;
    color: #007bff;
    border: 1px solid #007bff;
}

.toggle-btn:hover {
    background-color: #e7e7e7;
}

/* Responsive Styles */
@media (max-width: 768px)
