<!-- src/web/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsID - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="centered-container">
        <img src="{{ url_for('static', filename='images/letsID.svg') }}" alt="LetsID Logo" class="logo">

        <h1>Welcome to LetsID</h1>
        <p>This is the home page of LetsID, your trusted platform for managing identities.</p>
        
        <div class="button-container">
            <a href="/register" class="btn btn-blue">Register Myself</a>
            <a href="/issue-identity" class="btn btn-blue">Issue Identity</a>
        </div>

        <div class="verification-form">
            <h2>Verify Identity</h2>
            <form method="GET" class="verify-form" id="verify-form">
                <div class="form-field">
                    <input type="text" id="auto_id" name="auto_id" placeholder="Enter a Auto ID" class="input-field" required>
                    <button type="submit" class="btn">Verify</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/verify.js') }}"></script>
</body>
</html>