<!-- src/web/templates/issue.html -->

{% extends 'base.html' %}

{% block title %}LetsID - Issue Identity{% endblock %}

{% block content %}
<div class="centered-container">
    <div class="form-container">
        <h1>Issue Identity</h1>
        <p>Issue an identity by providing the necessary details:</p>
        <form action="/issue-identity" method="POST">

            <div class="form-field">
                <label for="user_identifier">User Identifier:</label>
                <input type="text" id="user_identifier" name="user_identifier" class="input-field">
            </div>

            <div class="form-field">
                <label for="user_keyring">Keyring:</label>
                <textarea id="user_keyring" name="user_keyring" class="input-textarea"></textarea>
            </div>

            <div class="form-field">
                <label for="user_certificate">Certificate:</label>
                <textarea id="user_certificate" name="user_certificate" class="input-textarea"></textarea>
            </div>

            <div class="form-field">
                <button type="submit" class="btn">Issue Identity</button>
            </div>
        </form>
    </div>
</div>

<script>
    function unescapeData(data) {
        // Remove leading and trailing double quotes
        var trimmedData = data.startsWith('"') && data.endsWith('"') ? data.slice(1, -1) : data;
        // Unescape any escaped slashes and quotes
        var unescapedData = trimmedData.replace(/\\r\\n/g, "\n").replace(/\\r/g, "\n").replace(/\\n/g, "\n").replace(/\\"/g, '').replace(/\\\\/g, '\\');
        return unescapedData;
    }

    window.onload = function() {
        // Check local storage and pre-populate the form
        var autoID = localStorage.getItem('autoID');
        var userKeyring = localStorage.getItem('user_keyring');
        var certificate = localStorage.getItem('certificate');
    
        if (autoID)
            document.getElementById('user_identifier').value = unescapeData(autoID);
        if (userKeyring)
            document.getElementById('user_keyring').value = unescapeData(userKeyring);
        if (certificate)
            document.getElementById('user_certificate').value = unescapeData(certificate);
    };
</script>
{% endblock %}
