{% extends 'base.html' %}

{% block title %}OAuth Provider Selection{% endblock %}

{% block content %}
<div class="form-container">
    <h1>User Registration</h1>
    <h3>Select an OAuth Provider</h3>
    <form class="oauth-provider-form">
        <div class="form-field">
            <a href="/authorize/google" class="oauth-button google">
                Sign in with Google
            </a>
        </div>
        <div class="form-field">
            <a href="/authorize/github" class="oauth-button github">
                Sign in with GitHub
            </a>
        </div>
        <div class="form-field">
            <a href="/authorize/discord" class="oauth-button discord">
                Sign in with Discord
            </a>
        </div>
    </form>
</div>
{% endblock %}
