<!-- src/web/templates/show_auto_id.html -->

{% extends 'base.html' %}

{% block title %}AutoID{% endblock %}

{% block content %}
<div class="form-container" role="region" aria-labelledby="autoid-confirmation">
    <div class="congratulations-message">
        <h1>Congratulations, you've registered your AutoID!</h1>
    </div>
    
    <!-- Fields streamlined for clarity and functionality -->
    <div class="form-field">
        <label for="auto_id">Auto ID:</label>
        <div class="input-group">
            <input type="text" id="auto_id" name="auto_id" value="{{ auto_id }}" readonly class="input-field">
            <button type="button" class="copy-button" onclick="copyToClipboard('auto_id')">Copy</button>
        </div>
    </div>
    <!-- Repeating structure for Keyring and Certificate with clear, minimalistic labeling -->
    <div class="form-field">
        <label for="user_keyring">Keyring:</label>
        <div class="input-group">
            <textarea id="user_keyring" name="user_keyring" readonly class="input-textarea">{{ user_keyring }}</textarea>
            <button type="button" class="copy-button" onclick="copyToClipboard('user_keyring')">Copy</button>
        </div>
    </div>
    <div class="form-field">
        <label for="certificate">Certificate:</label>
        <div class="input-group">
            <textarea id="certificate" name="certificate" readonly class="input-textarea">{{ certificate }}</textarea>
            <button type="button" class="copy-button" onclick="copyToClipboard('certificate')">Copy</button>
        </div>
    </div>
    <div class="form-field">
        <a href="/issue-identity" class="btn btn-blue">Issue Identity</a>
    </div>
</div>

<script src="/static/js/utils.js"></script>
<script>
    function storeInLocalStorage(key, value) {
        // Simplifying data storage by directly storing without parsing, assuming direct compatibility
        localStorage.setItem(key, JSON.stringify(value));
    }

    window.onload = function() {
        // Optimized logging and local storage handling for clarity and efficiency
        var autoID = '{{ auto_id|tojson|safe }}';
        var userKeyring = '{{ user_keyring|tojson|safe }}';
        var certificate = '{{ certificate|tojson|safe }}';
        
        if (userKeyring && certificate) {
            storeInLocalStorage('autoID', autoID);
            storeInLocalStorage('user_keyring', userKeyring);
            storeInLocalStorage('certificate', certificate);
        } else {
            console.log("Credentials not found.");
        }
    };
</script>
{% endblock %}